@import "tailwindcss";
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed; 
  scroll-behavior: auto;
}

body::-webkit-scrollbar{
  display: none;
}

:root{
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;  
  background-color: #eeece2;
  font-family: 'Optima', sans-serif;
  --primary: #CC5F3F;
  --secondary: #592534;
}


@layer base {
  .text-10xl {
    font-size: 9rem;
    line-height: 1;
  }
}

@layer utilities{
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .bg-base {
    background-color:#eeece2
  }
}

@font-face {
  font-family: Optima;
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/OptimaLTStdRoman.otf') format('opentype');
}

@font-face {
  font-family: BerkShire;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/BerkshireSwash-Regular.ttf') format('truetype');
  font-display: swap;
}


.contact-text{
  font-size: 12rem;
  line-height: 1;
  font-family: 'Optima', sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 4rem;
  }
}

